@import models.Entities.D2V2GRegionSummary
@(evidences: Vector[D2V2GRegionSummary])

@main("opentargets genetics") {
  <h1>test for opentargets genetics api + graphql</h1>
  <p>Summary evidences in D2V2G table at chr:position +- 1Mb:</p>
  <table class="tableClass" style="width:100%">
    <colgroup>
      <col><col><col><col><col><col><col>
    </colgroup>
    <tbody>
      <tr>
        <th>Idx chr ID</th>
        <th>Idx Position</th>
        <th>Idx ref allele</th>
        <th>Idx alt allele</th>
        <th># Uniq g.</th>
        <th># Uniq tag v.</th>
        <th># evs/idx v.</th>
      </tr>
      @evidences.map{ ev =>
              <tr>
                <td>@ev.index_chr_id</td>
                <td>@ev.index_position</td>
                <td>@ev.index_ref_allele</td>
                <td>@ev.index_alt_allele</td>
                <td>@ev.uniq_genes</td>
                <td>@ev.uniq_tag_variants</td>
                <td>@ev.count_evs</td>
              </tr>
      }
  </tbody>
  </table>

}
